.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .logo {
    width: 150px;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .navbar button:hover {
    background-color: #e6e5e5;
  }
  
  .navbar .activ {
    border-bottom: 2px solid;
    padding: 2px;
  }
  
  .navbar li {
    cursor: pointer;
  }
  
  .search{
    cursor: pointer;
  }
  .navbar-search-icon {
    position: relative;

  }
  
  .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
  }
  .test-ss{
    position: relative;
  }
  .log-or{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
  }
  .test-ss:hover .log-or{

      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: #fff2ef;
      padding: 12px 25px;
      border-radius: 4px;
      border: 1px solid tomato;
      outline: 2px solid white;
      
    }
    .input{
      width: 150px;
      height: 30px;
      border-radius: 60px;
      border: 1px solid tomato;
      
    }
  
  
  /* Media queries for small screen */
  @media(max-width: 1050px) {
    .navbar .logo {
      width: 140px;
    }
    .navbar-menu {
      gap: 20px;
      font-size: 17px;
    }
    .navbar-right {
      gap: 30px;
    }
    .navbar-right img {
      width: 22px;
    }
    .navbar-right button {
      padding: 8px 25px;
    }
  }
  
  @media(max-width: 900px) {
    .navbar .logo {
      width: 120px;
    }
    .navbar-menu {
      gap: 15px;
      font-size: 16px;
    }
    .navbar-right {
      gap: 30px;
    }
    .navbar-right img {
      width: 20px;
    }
    .navbar-right button {
      padding: 7px 20px;
      font-size: 15px;
    }
  }
  
  @media(max-width: 750px) {
    .navbar-menu {
      display: none; 
  }
}